{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block nav-style %}navbar{% endblock nav-style %}

{% block content %}  

    {# Hero Section #}  
<section class="hero">
    <div class="hero__text ">
        <h1 class="hide-mobile">Women Who Code Portland</h1>
        <p class="hero__line">We are a non-profit dedicated to inspiring <br> women to excel in technology careers. <br> Join us for monthly tech events.</p>
        <button class="hero__button">get involved</button>
    </div>
    <p class="seewhat">See what we do</p>
</section>

    {# Main Section #}
<h1>This is the main section</h1>
{% endblock content %}